.container {
    height: 80vh;
    width: 90vw;
    background-color: aquamarine;
}

.ball {
    width: 10vh;
    border-radius: 100%;
    border: 2px solid black;

    animation: horizontal_motion 5s linear infinite, verticle_motion 1s linear infinite;
}

@keyframes horizontal_motion {
    from {}

    to {
        transform: translateX(75vw);
    }
}

@keyframes verticle_motion {
    0% {
        transform: translateY(70vh);
    }
}