* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.card {
    /* border: 1px solid white; */
    border-radius: 10px;
    background-color: black;
    color: white;

    width: 80%;
    align-self: center;
    padding: 20px 5px;

    display: flex;
    column-gap: 10px;
}

.card>.srno {
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 6px;
}

/* video */

.card>.video {
    display: flex;
    position: relative;
    /* width: fit-content; */
}

.card>.video>img {
    width: 160px;
    height: 90px;
    border-radius: 10px;
}

.card>.video>.duration{
    width:fit-content;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);

    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;

    font-size: 12px;
}

/* Title */

.card>.details {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
}
.card>.details>.title {
    font-size: 16px;
    font-weight: bold;
}
.card>.details>.description>span{
    font-size: 12px;
    color:#aaaaaa;
    text-align: justify;
    padding: 0px 2px;;
}


/* Form */
.FormContainer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
}
.addForm {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    width: 80%;
    align-self: center;
    margin-bottom: 20px;
    justify-content: center;
   
    border: 1px solid #ccc;  /* Added border for modern look */
    border-radius: 10px;  /* Rounded corners for modern design */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    background-color: #f9f9f9;  /* Light background for contrast */
    padding: 20px;  /* Increased padding for better spacing */
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 80%;
    align-self: center;
    margin-bottom: 20px;
    justify-content: center;
}

.addForm input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.addForm button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: goldenrod;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    justify-self: center;
    grid-column: span 2;
}


.header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #444;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
}