* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 9vh;
}

.logo {
    height: 18vh;
}

.right ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 3vw;
}

.right ul li {
    list-style: none;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}

#translate-button {
    height: 1.5vw;
}