<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
</head>
<body>
    <h1>Student Details</h1>
    <table border="1">
        <thead><tr>
            <th>Student ID</th>
            <th>Course ID</th>
            <th>Marks</th>
        </tr></thead>
    <tbody>
    {% for line in data %}
        <tr>
            <td>{{ line.student_id }}</td>
            <td>{{ line.course_id }}</td>
            <td>{{ line.marks }}</td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="2">Total</td>
            <td>{{ total }}</td
        </tr>
        </tbody>
    </table>
</body>
</html>