{% extends 'layout.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="heading">
    <h1 class="display-3">Login Page</h1>
</div>
<div class="form">
    <form action="" class="form" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" name="password" id="" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock %}