<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <h1>Student Details</h1>
    <table id=‘student-detail’>
        <thead>
            <tr>
                <th>Roll Number</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{student.roll_number}}</td>
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
            </tr>
        </tbody>
    </table>
    <h3>Current Enrollments</h3>
    {%if enrollments%}
    <table id="student-enrollments">
        <thead>
            <tr>
                <th>SNo</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for enroll, course in enrollments%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{course.course_code}}</td>
                <td>{{course.course_name}}</td>
                <td>{{course.course_description}}</td>
                <td>
                    <a href="/student/{{student_id}}/withdraw/{{course.course_id}}">Withdraw</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%else%}
    <h4>Not Enrolled in any Course</h4>
    {%endif%}

</body>

</html>